<div class="rating-stars {{ rating_classes }}">
     <span>
          <i class="{% if rating >= 1 %}fa-solid fa-star{% elif rating >= 0.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"
               aria-hidden="true"></i>
          <i class="{% if rating >= 2 %}fa-solid fa-star{% elif rating >= 1.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"
               aria-hidden="true"></i>
          <i class="{% if rating >= 3 %}fa-solid fa-star{% elif rating >= 2.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"
               aria-hidden="true"></i>
          <i class="{% if rating >= 4 %}fa-solid fa-star{% elif rating >= 3.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"
               aria-hidden="true"></i>
          <i class="{% if rating >= 5 %}fa-solid fa-star{% elif rating >= 4.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"
               aria-hidden="true"></i>
     </span>
</div>
