{% load static %}
<!doctype html>
<html lang="en">

     <head>
          {% block meta %}
          <meta http-equiv="X-UA-Compatible"
               content="IE=edge">
          <meta charset="utf-8">
          <meta name="viewport"
               content="width=device-width, initial-scale=1">
          {% endblock meta %}

          {% block extra_meta %}{% endblock extra_meta %}



          {% block corecss %}
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
               rel="stylesheet"
               integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
               crossorigin="anonymous">
          {% endblock corecss %}

          {% block extra_css %}
          <!-- Bootstrap Icons -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
               rel="stylesheet">

          <!-- Custom style -->
          <link href="{% static 'css/ui.css' %}"
               rel="stylesheet"
               type="text/css" />

          <link rel="stylesheet"
               href="{% static 'css/style.css' %}" />{% endblock extra_css %}



          <title>Korgen Ecommerce {% block extra_title %}{% endblock%}</title>

     </head>



     <body>

          <!-- Navigation Bar -->
          {% include 'includes/navbar.html' %}
          <!-- Navigation Bar -->


          <header class="container-fluid sticky-top"></header>

          {% if messages %}
          <div class="message-container"></div>
          {% endif %}

          {% block page_header %}{% endblock %}

          {% block content %}{% endblock %}




          <!-- Footer -->
          {% include 'includes/footer.html' %}
          <!-- Footer -->


          {% block post_loadjs %}

          {% block corejs %}
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
               integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
               crossorigin="anonymous"></script>
          {% endblock corejs %}

          {% block extra_js %}
          <!-- GSAP (CDN) -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

          <!-- Font Awesome kit (CDN) -->
          <script src="https://kit.fontawesome.com/40567dc832.js"
               crossorigin="anonymous"></script>

          <!-- local script (Django static) -->
          <script src="{% static 'js/script.js' %}"></script>

          <script>
               document.addEventListener("DOMContentLoaded", () => {
                    const forms = document.querySelectorAll(".needs-validation");

                    forms.forEach(form => {
                         form.addEventListener("submit", event => {

                              if (!form.checkValidity()) {
                                   event.preventDefault();
                                   event.stopPropagation();
                              }

                              form.classList.add("was-validated");
                         });
                    });
               });
          </script>
          <!-- ======== Javascript Utilities ======== -->
          {% endblock extra_js %}
          {% endblock post_loadjs %}


     </body>

</html>
